.col-md-12.global-notification
  .col-md-6.col-md-offset-3.centered
    %span{style: 'font-size: 10px;'}
      %i
        Bienvenido al
        %u ALPHA
        DE PRUEBA (3 semanas de desarrollo) - continuen enviando sugerencias a gabriel@estilopanda.com - truenito.
        = link_to(' (nosotros)', nosotros_path)