.container.col-md-8.col-md-offset-2
  %h2.animated.text-center reglas
  %hr.animated
  %h5.uppercase.animated Hosting/Creando una Partida
  %ul
    %li Se debe de utilizar la página para crear las partidas, la persona que crea la partida debe de crear el lobby.
    %li El host del match es responsable de que los equipos estén correctos antes de empezar el match.
    %li Los capitanes de cada equipo se sentaran en los colores azul y rosado.
  %hr.animated
  %h5.uppercase.animated Forfeit/Rendirse
  %ul
    %li Se podrá FF en cualquier momento del juego, SOLAMENTE SI TODOS los jugadores de un equipo escriben “FF” o “Forfeit” en ALL chat.
    %li De lo contrario, el Forfeit está permitido después de los 35 minutos, siempre y cuando la mayoría de jugadores de un equipo escriban "FF" o "Forfeit" en ALL Chat (4v4 - 2 FF, 4v5 - 3 FF, 5v5 - 3FF), puedes salirte de la partida y el equipo contrario obtendrá la victoria.
  %hr.animated
  %h5.uppercase.animated Abandonos
  %ul
    %li Salir de una partida, antes de que esta termine, resultará en un abandono. Algunos abandonos pueden resultar en una suspensión temporal, después de ser revisados por un moderador.
  %hr.animated
  %h5.uppercase.animated Cancelar
  %ul
    %li Remake o Cancelar un juego, es permitido en los primeros 5 minutos, si un jugador se desconecta. Todos los remakes serán AP (los mismos jugadores con los mismos héroes), solamente si ya se había completado la selección de personajes (picks), de otro modo serían AP Ranked.
    %li Si un jugador se sale, o no vuelve luego de desconectarse, el juego se cancela, el jugador recibirá una amonestación y se crea otro juego nuevo.
    %li Todos los votos de cancelación de la partida, deben ser ejecutados 2 minutos después del hecho, y antes de que se cree otro juego, de lo contrario podría resultar en una amonestación.
  %hr.animated
  %h5.uppercase.animated Reglas del juego
  %ul
    %li Tournament Mode.
    %li All Pick ranked (Es el ultimo All Pick de la lista).
    %li Host Server: US EAST.
    %li El host pondrá el delay/retraso que desee al juego.
  %hr.animated
  %h5.uppercase.animated Comportamiento
  %ul
    %li Arruinar el juego intencionalmente, como suicidando el courier, utilizando habilidades de heroes para troll tus aliados (Tiny’s Toss, Wisp Relocate, etc) son acciones sujetas a suspensión.
    %li Decir que vas a feedear intencionalmente, y/o que no vas a seguir intentando ganar el partido será sujeto de suspensión.
    %li Racismo por discriminación verbal o textual de cualquier índole no es permitido, y será manejado por un administrador, la sanción puede ir desde advertencias, suspensiones temporales hasta suspensiones permanentes.
  %hr.animated
  %h5.uppercase.animated Observers/Observadores
  %ul
    %li Observers son permitidos solamente si el creador de la partida acepta.
    %li Si algún jugador dentro del juego, se opone a un observer en específico o tener observers en general, el host del juego debe de sacarlos de la partida. Esta regla no aplica a moderadores/administradores.
  %hr.animated
  %h5.uppercase.animated Otras reglas
  %ul
    %li El uso de cuentas múltiples esta prohibido (una de las razones por las cuales es necesario validar la cuenta con Facebook).
    %li Una pausa de 2 minutos es permitida ANTES que inicie la selección de personajes, no durante. Cada equipo tiene un total de 5 minutos de pausa que también pueden usar. Antes de pausar, las pausas necesitan ser avisadas y con una razón en “All chat”, y no puede quitarse la pausa hasta que el tiempo límite termine, o si la persona/equipo que pausó está listo, junto a todos los demás.
    %li Luego de los equipos ser balanceados y de ser sorteado el rol de capitán, cada equipo deberá seguir y respetar las instrucciones dadas por éste dentro del juego, sin objeción alguna. De lo contrario, miembros de tu equipo podrán reportarte y los moderadores/administradores tomaran la decisión de la penalidad.
    %li Todos los jugadores deberán estar en el TeamSpeak de la liga, no es obligatorio tener micrófono, pero si deben de poder oír lo que su equipo quiere comunicarle durante la partida.
  %hr.animated
  %i *  Las penalizaciones actualmente son otorgadas según el parecer de los administradores de la liga, con el timepo las mismas se irán estandarizando.

